.fixed-header  {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
  text-align: center;
  top:0%;
}

body
{
    padding-top: 150px;
}
/*hovering overnav bar*/
.navbar-nav a {
  color : black;
  font-size: 1.2rem;
  font-weight: 600;

}
.navbar-nav a:hover {
  color:black;
}




/*section-style*/
.form-section{
     padding-top:20px;
  }

.btn{
    background-color:rgb(135, 188, 29);;
    border-color: rgb(135, 188, 29);;
}

.btn:hover {
    background-color: rgb(115, 156, 32);
    border-color: rgb(115, 156, 32);
  }
  
  .page-footer{
    background-color: rgb(26, 25, 25); 
    color: #fff;
    height: 100%;
    max-width: 100% !important
  }